@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins';
  /* background-color: white; */
}

body{
  background-color: white;
}

h1{
  @apply text-[16px] text-[#FF64AE] font-semibold
}

h2{
  @apply text-[36px] text-[#091156] font-semibold
}

p{
  @apply text-[#8B8B8B] tracking-widest text-[16px]
}

.page-enter-active,
.page-leave-active {
  transition: opacity 3s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
